In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("C:\\Users\\PIYUSH BHOI\\Downloads\\appointment.csv")

In [4]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,SMS_received,No-show,PRIORITY_TYPE_CODE,Index of Multiple Deprivation Decile,Income Decile,Employment Decile,Education and Skills Decile,Health and Disability Decile,City
0,2.990000e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,No,1.0,10.0,9.0,9.0,7.0,10.0,No
1,5.590000e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,No,NaN,7.0,7.0,9.0,6.0,9.0,No
2,4.260000e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,No,NaN,7.0,7.0,9.0,6.0,9.0,No
3,8.680000e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,No,NaN,10.0,10.0,9.0,8.0,10.0,No
4,8.840000e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,No,NaN,10.0,10.0,10.0,10.0,10.0,No

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32397 entries, 0 to 32396
Data columns (total 16 columns):
PatientId                               32397 non-null float64
AppointmentID                           32397 non-null int64
Gender                                  32397 non-null object
ScheduledDay                            32397 non-null object
AppointmentDay                          32397 non-null object
Age                                     32397 non-null int64
Neighbourhood                           32397 non-null object
SMS_received                            32397 non-null int64
No-show                                 32397 non-null object
PRIORITY_TYPE_CODE                      32073 non-null float64
Index of Multiple Deprivation Decile    31563 non-null float64
Income Decile                           31563 non-null float64
Employment Decile                       31563 non-null float64
Education and Skills Decile             31563 non-null float64
Health and Disability Decile            31563 non-null float64
City                                    32397 non-null object
dtypes: float64(7), int64(3), object(6)
memory usage: 4.0+ MB

In [6]:
# rename the No-show column as Output_label
df = df.rename(columns = {"No-show": "Output_label"})

In [7]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,SMS_received,Output_label,PRIORITY_TYPE_CODE,Index of Multiple Deprivation Decile,Income Decile,Employment Decile,Education and Skills Decile,Health and Disability Decile,City
0,2.990000e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,No,1.0,10.0,9.0,9.0,7.0,10.0,No
1,5.590000e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,No,NaN,7.0,7.0,9.0,6.0,9.0,No
2,4.260000e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,No,NaN,7.0,7.0,9.0,6.0,9.0,No
3,8.680000e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,No,NaN,10.0,10.0,9.0,8.0,10.0,No
4,8.840000e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,No,NaN,10.0,10.0,10.0,10.0,10.0,No

In [8]:
# convert no and yes as 0 and 1
df.Output_label = df.Output_label.replace({'No': 0, 'Yes': 1}) # or df.replace(('Yes','No'),(1,0))

In [9]:
df.Gender = df.Gender.replace({'F':0,'M':1})

In [10]:
df = df.rename(columns = {"City ": "City"})

In [11]:
df.City = df.City.replace({'No':0, 'Yes':1})

In [12]:
# Now calculate the prevalence of the positive class
#Make function
def cal_prevalence(y_actual):
    p = sum(y_actual)/len(y_actual)
    return p

In [13]:
out = df["Output_label"].values
print("Prevalence of the positive class : %.3f" %cal_prevalence(out)) 
# Yes means nai aaya. 0.207 nahi aae

Prevalence of the positive class : 0.207

In [14]:
# Find the unique values
for c in list(df.columns):
    n = df[c].unique()
    # if number of unique values is less then 30, print the values, else print numbers
    if len(n)<30:
        print(c)
        print(n)
    else :
        print(c + ":", len(n), 'Unique Values')

PatientId: 4154 Unique Values
AppointmentID: 32397 Unique Values
Gender
[0 1]
ScheduledDay: 31365 Unique Values
AppointmentDay
['2016-04-29T00:00:00Z' '2016-05-03T00:00:00Z' '2016-05-10T00:00:00Z'
 '2016-05-17T00:00:00Z' '2016-05-24T00:00:00Z' '2016-05-31T00:00:00Z'
 '2016-05-02T00:00:00Z' '2016-05-30T00:00:00Z' '2016-05-16T00:00:00Z'
 '2016-05-04T00:00:00Z' '2016-05-19T00:00:00Z' '2016-05-12T00:00:00Z'
 '2016-05-06T00:00:00Z' '2016-05-20T00:00:00Z' '2016-05-05T00:00:00Z'
 '2016-05-13T00:00:00Z' '2016-05-09T00:00:00Z' '2016-05-25T00:00:00Z'
 '2016-05-11T00:00:00Z' '2016-05-18T00:00:00Z']
Age: 99 Unique Values
Neighbourhood: 79 Unique Values
SMS_received
[0 1]
Output_label
[0 1]
PRIORITY_TYPE_CODE
[ 1. nan  3.  2.]
Index of Multiple Deprivation Decile
[10.  7.  2.  6. nan  9.  8.  5.  3.  4.  1.]
Income Decile
[ 9.  7. 10.  1.  5.  8. nan  6.  4.  2.  3.]
Employment Decile
[ 9. 10.  2.  6.  8. nan  7.  5.  4.  3.  1.]
Education and Skills Decile
[ 7.  6.  8. 10.  2.  3.  9. nan  5.  4.  1.]
Health and Disability Decile
[10.  9.  3.  8.  4.  5. nan  6.  7.  2.  1.]
City
[0 1]

In [15]:
# In our data we have ? / so we want to replace '?' with Nan values
import numpy as np
df = df.replace('?', np.nan)

In [16]:
# convert to the date format
df["ScheduledDay"] = pd.to_datetime(df["ScheduledDay"], format = "%Y-%m-%d %H:%M:%S")
df["AppointmentDay"] = pd.to_datetime(df["AppointmentDay"], format = "%Y-%m-%d %H:%M:%S")
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,SMS_received,Output_label,PRIORITY_TYPE_CODE,Index of Multiple Deprivation Decile,Income Decile,Employment Decile,Education and Skills Decile,Health and Disability Decile,City
0,2.990000e+13,5642903,0,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,0,0,1.0,10.0,9.0,9.0,7.0,10.0,0
1,5.590000e+14,5642503,1,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,NaN,7.0,7.0,9.0,6.0,9.0,0
2,4.260000e+12,5642549,0,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,MATA DA PRAIA,0,0,NaN,7.0,7.0,9.0,6.0,9.0,0
3,8.680000e+11,5642828,0,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,PONTAL DE CAMBURI,0,0,NaN,10.0,10.0,9.0,8.0,10.0,0
4,8.840000e+12,5642494,0,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,NaN,10.0,10.0,10.0,10.0,10.0,0

In [17]:
# Now find the difference and create new columns
df["Num_days"] = (df["AppointmentDay"] - df["ScheduledDay"]).dt.days
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,SMS_received,Output_label,PRIORITY_TYPE_CODE,Index of Multiple Deprivation Decile,Income Decile,Employment Decile,Education and Skills Decile,Health and Disability Decile,City,Num_days
0,2.990000e+13,5642903,0,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,0,0,1.0,10.0,9.0,9.0,7.0,10.0,0,-1
1,5.590000e+14,5642503,1,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,NaN,7.0,7.0,9.0,6.0,9.0,0,-1
2,4.260000e+12,5642549,0,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,MATA DA PRAIA,0,0,NaN,7.0,7.0,9.0,6.0,9.0,0,-1
3,8.680000e+11,5642828,0,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,PONTAL DE CAMBURI,0,0,NaN,10.0,10.0,9.0,8.0,10.0,0,-1
4,8.840000e+12,5642494,0,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,NaN,10.0,10.0,10.0,10.0,10.0,0,-1

In [18]:
# convert - in 0
df.Num_days = np.where(df.Num_days<0, 0, df.Num_days)
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,SMS_received,Output_label,PRIORITY_TYPE_CODE,Index of Multiple Deprivation Decile,Income Decile,Employment Decile,Education and Skills Decile,Health and Disability Decile,City,Num_days
0,2.990000e+13,5642903,0,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,0,0,1.0,10.0,9.0,9.0,7.0,10.0,0,0
1,5.590000e+14,5642503,1,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,NaN,7.0,7.0,9.0,6.0,9.0,0,0
2,4.260000e+12,5642549,0,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,MATA DA PRAIA,0,0,NaN,7.0,7.0,9.0,6.0,9.0,0,0
3,8.680000e+11,5642828,0,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,PONTAL DE CAMBURI,0,0,NaN,10.0,10.0,9.0,8.0,10.0,0,0
4,8.840000e+12,5642494,0,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,NaN,10.0,10.0,10.0,10.0,10.0,0,0

In [19]:
df["day_of_week"] = df["ScheduledDay"].dt.dayofweek
df["month"] = df["ScheduledDay"].dt.month
df["week"] = df["ScheduledDay"].dt.week

In [20]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,SMS_received,Output_label,PRIORITY_TYPE_CODE,Index of Multiple Deprivation Decile,Income Decile,Employment Decile,Education and Skills Decile,Health and Disability Decile,City,Num_days,day_of_week,month,week
0,2.990000e+13,5642903,0,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,0,0,1.0,10.0,9.0,9.0,7.0,10.0,0,0,4,4,17
1,5.590000e+14,5642503,1,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,NaN,7.0,7.0,9.0,6.0,9.0,0,0,4,4,17
2,4.260000e+12,5642549,0,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,MATA DA PRAIA,0,0,NaN,7.0,7.0,9.0,6.0,9.0,0,0,4,4,17
3,8.680000e+11,5642828,0,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,PONTAL DE CAMBURI,0,0,NaN,10.0,10.0,9.0,8.0,10.0,0,0,4,4,17
4,8.840000e+12,5642494,0,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,NaN,10.0,10.0,10.0,10.0,10.0,0,0,4,4,17

In [21]:
df.shape

(32397, 20)

In [22]:
# Columns Names
col_names = ["SMS_received", "Age", "Num_days", "day_of_week", 'month', "week"]

In [23]:
# check any value is null 
df[col_names].isnull().sum()

SMS_received    0
Age             0
Num_days        0
day_of_week     0
month           0
week            0
dtype: int64

In [24]:
# if null value is present then replace with mean value
df[col_names].fillna(df[col_names].mean(), inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [25]:
col_cat = ["Gender", 
           "PRIORITY_TYPE_CODE", 
           "Index of Multiple Deprivation Decile", 
           "Income Decile", 
           "Employment Decile", 
           "Education and Skills Decile", 
           "Health and Disability Decile",
           "City"]

In [26]:
df[col_cat].isnull().sum()

Gender                                    0
PRIORITY_TYPE_CODE                      324
Index of Multiple Deprivation Decile    834
Income Decile                           834
Employment Decile                       834
Education and Skills Decile             834
Health and Disability Decile            834
City                                      0
dtype: int64

In [27]:
df['PRIORITY_TYPE_CODE'] = df["PRIORITY_TYPE_CODE"].fillna(df["PRIORITY_TYPE_CODE"].mode()[0])

In [28]:
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,SMS_received,Output_label,PRIORITY_TYPE_CODE,Index of Multiple Deprivation Decile,Income Decile,Employment Decile,Education and Skills Decile,Health and Disability Decile,City,Num_days,day_of_week,month,week
0,2.990000e+13,5642903,0,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,0,0,1.0,10.0,9.0,9.0,7.0,10.0,0,0,4,4,17
1,5.590000e+14,5642503,1,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,1.0,7.0,7.0,9.0,6.0,9.0,0,0,4,4,17
2,4.260000e+12,5642549,0,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,MATA DA PRAIA,0,0,1.0,7.0,7.0,9.0,6.0,9.0,0,0,4,4,17
3,8.680000e+11,5642828,0,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,PONTAL DE CAMBURI,0,0,1.0,10.0,10.0,9.0,8.0,10.0,0,0,4,4,17
4,8.840000e+12,5642494,0,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,1.0,10.0,10.0,10.0,10.0,10.0,0,0,4,4,17
5,9.600000e+13,5626772,0,2016-04-27 08:36:51+00:00,2016-04-29 00:00:00+00:00,76,REPÚBLICA,0,0,1.0,2.0,1.0,2.0,2.0,3.0,0,1,2,4,17
6,7.340000e+14,5630279,0,2016-04-27 15:05:12+00:00,2016-04-29 00:00:00+00:00,23,GOIABEIRAS,0,1,1.0,10.0,10.0,10.0,8.0,10.0,1,1,2,4,17
7,3.450000e+12,5630575,0,2016-04-27 15:39:58+00:00,2016-04-29 00:00:00+00:00,39,GOIABEIRAS,0,1,3.0,10.0,10.0,10.0,10.0,10.0,1,1,2,4,17
8,5.640000e+13,5638447,0,2016-04-29 08:02:16+00:00,2016-04-29 00:00:00+00:00,21,ANDORINHAS,0,0,3.0,7.0,7.0,9.0,10.0,8.0,0,0,4,4,17
9,7.810000e+13,5629123,0,2016-04-27 12:48:25+00:00,2016-04-29 00:00:00+00:00,19,CONQUISTA,0,0,3.0,6.0,5.0,6.0,3.0,4.0,0,1,2,4,17
10,7.350000e+14,5630213,0,2016-04-27 14:58:11+00:00,2016-04-29 00:00:00+00:00,30,NOVA PALESTINA,0,0,3.0,6.0,7.0,9.0,7.0,5.0,0,1,2,4,17
11,7.540000e+12,5620163,1,2016-04-26 08:44:12+00:00,2016-04-29 00:00:00+00:00,29,NOVA PALESTINA,1,1,3.0,10.0,10.0,10.0,9.0,10.0,1,2,1,4,17
12,5.670000e+14,5634718,0,2016-04-28 11:33:51+00:00,2016-04-29 00:00:00+00:00,22,NOVA PALESTINA,0,0,1.0,10.0,10.0,10.0,10.0,10.0,0,0,3,4,17
13,9.110000e+14,5636249,1,2016-04-28 14:52:07+00:00,2016-04-29 00:00:00+00:00,28,NOVA PALESTINA,0,0,1.0,10.0,10.0,10.0,10.0,10.0,0,0,3,4,17
14,9.990000e+13,5633951,0,2016-04-28 10:06:24+00:00,2016-04-29 00:00:00+00:00,54,NOVA PALESTINA,0,0,1.0,7.0,8.0,8.0,7.0,9.0,0,0,3,4,17
15,9.994839e+10,5620206,0,2016-04-26 08:47:27+00:00,2016-04-29 00:00:00+00:00,15,NOVA PALESTINA,1,0,1.0,NaN,NaN,NaN,NaN,NaN,0,2,1,4,17
16,8.460000e+13,5633121,1,2016-04-28 08:51:47+00:00,2016-04-29 00:00:00+00:00,50,NOVA PALESTINA,0,0,3.0,9.0,8.0,8.0,6.0,9.0,0,0,3,4,17
17,1.480000e+13,5633460,0,2016-04-28 09:28:57+00:00,2016-04-29 00:00:00+00:00,40,CONQUISTA,0,1,1.0,8.0,9.0,8.0,9.0,9.0,1,0,3,4,17
18,1.710000e+13,5621836,0,2016-04-26 10:54:18+00:00,2016-04-29 00:00:00+00:00,30,NOVA PALESTINA,1,0,1.0,10.0,8.0,9.0,7.0,10.0,0,2,1,4,17
19,7.220000e+12,5640433,0,2016-04-29 10:43:14+00:00,2016-04-29 00:00:00+00:00,46,DA PENHA,0,0,1.0,6.0,8.0,9.0,8.0,10.0,0,0,4,4,17
20,6.220000e+14,5626083,0,2016-04-27 07:51:14+00:00,2016-04-29 00:00:00+00:00,30,NOVA PALESTINA,0,1,1.0,7.0,6.0,7.0,5.0,6.0,0,1,2,4,17
21,1.220000e+13,5628338,0,2016-04-27 10:50:45+00:00,2016-04-29 00:00:00+00:00,4,CONQUISTA,0,1,1.0,10.0,10.0,10.0,9.0,10.0,0,1,2,4,17
22,8.630000e+14,5616091,1,2016-04-25 13:29:16+00:00,2016-04-29 00:00:00+00:00,13,CONQUISTA,1,1,2.0,5.0,7.0,9.0,7.0,9.0,0,3,0,4,17
23,2.140000e+14,5634142,0,2016-04-28 10:27:05+00:00,2016-04-29 00:00:00+00:00,46,CONQUISTA,0,0,1.0,10.0,10.0,10.0,9.0,10.0,0,0,3,4,17
24,8.730000e+12,5641780,0,2016-04-29 14:19:19+00:00,2016-04-29 00:00:00+00:00,65,TABUAZEIRO,0,0,1.0,5.0,4.0,7.0,7.0,7.0,0,0,4,4,17
25,5.820000e+12,5624020,1,2016-04-26 15:04:17+00:00,2016-04-29 00:00:00+00:00,46,CONQUISTA,1,0,1.0,10.0,10.0,10.0,10.0,10.0,0,2,1,4,17
26,2.578785e+10,5641781,0,2016-04-29 14:19:42+00:00,2016-04-29 00:00:00+00:00,45,BENTO FERREIRA,0,0,1.0,10.0,10.0,10.0,9.0,10.0,0,0,4,4,17
27,1.220000e+13,5628345,0,2016-04-27 10:51:45+00:00,2016-04-29 00:00:00+00:00,4,CONQUISTA,0,0,1.0,10.0,10.0,10.0,9.0,10.0,0,1,2,4,17
28,5.930000e+12,5642400,1,2016-04-29 15:48:02+00:00,2016-04-29 00:00:00+00:00,51,SÃO PEDRO,0,0,3.0,6.0,5.0,5.0,4.0,9.0,0,0,4,4,17
29,1.230000e+12,5642186,0,2016-04-29 15:16:29+00:00,2016-04-29 00:00:00+00:00,32,SANTA MARTHA,0,0,3.0,9.0,8.0,9.0,8.0,10.0,0,0,4,4,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32367,2.600000e+14,5654635,1,2016-05-03 14:55:15+00:00,2016-05-03 00:00:00+00:00,12,CENTRO,0,0,1.0,5.0,5.0,5.0,4.0,7.0,0,0,1,5,18
32368,4.140000e+13,5709376,0,2016-05-17 13:37:38+00:00,2016-05-17 00:00:00+00:00,25,DO MOSCOSO,0,0,1.0,8.0,9.0,10.0,8.0,10.0,0,0,1,5,20
32369,2.430000e+12,5733065,0,2016-05-24 13:16:30+00:00,2016-05-24 00:00:00+00:00,64,PARQUE MOSCOSO,0,1,1.0,6.0,5.0,6.0,5.0,8.0,1,0,1,5,21
32370,1.620000e+12,5734695,1,2016-05-24 16:02:32+00:00,2016-05-24 00:00:00+00:00,38,RESISTÊNCIA,0,0,1.0,10.0,9.0,9.0,8.0,10.0,0,0,1,5,21
32371,1.430000e+13,5751540,0,2016-05-31 10:18:16+00:00,2016-05-31 00:00:00+00:00,42,CENTRO,0,0,2.0,6.0,7.0,8.0,5.0,8.0,0,0,1,5,22
32372,5.840000e+14,5645156,1,2016-05-02 09:32:47+00:00,2016-05-03 00:00:00+00:00,12,DO MOSCOSO,0,0,1.0,5.0,6.0,6.0,4.0,6.0,0,0,0,5,18
32373,1.490000e+13,5709591,0,2016-05-17 14:02:12+00:00,2016-05-17 00:00:00+00:00,29,SANTA CLARA,0,0,1.0,6.0,6.0,7.0,6.0,7.0,0,0,1,5,20
32374,9.750000e+11,5733536,0,2016-05-24 14:00:24+00:00,2016-05-24 00:00:00+00:00,18,DO MOSCOSO,0,0,1.0,7.0,7.0,9.0,7.0,6.0,0,0,1,5,21
32375,9.780000e+13,5754135,1,2016-05-31 15:30:14+00:00,2016-05-31 00:00:00+00:00,72,PARQUE MOSCOSO,0,0,1.0,9.0,7.0,7.0,8.0,9.0,0,0,1,5,22
32376,1.200000e+12,5750546,0,2016-05-31 09:00:19+00:00,2016-05-31 00:00:00+00:00,56,PARQUE MOSCOSO,0,0,1.0,8.0,7.0,6.0,5.0,9.0,0,0,1,5,22
32377,4.370000e+11,5681439,1,2016-05-10 14:22:59+00:00,2016-05-10 00:00:00+00:00,11,GRANDE VITÓRIA,0,0,1.0,6.0,5.0,6.0,4.0,7.0,0,0,1,5,19
32378,3.880000e+12,5754252,1,2016-05-31 15:48:45+00:00,2016-05-31 00:00:00+00:00,3,VILA RUBIM,0,0,1.0,10.0,9.0,10.0,9.0,10.0,0,0,1,5,22
32379,4.880000e+13,5645564,0,2016-05-02 10:05:23+00:00,2016-05-03 00:00:00+00:00,55,PARQUE MOSCOSO,0,0,3.0,10.0,8.0,9.0,10.0,10.0,0,0,0,5,18
32380,6.460000e+14,5703198,1,2016-05-16 13:37:52+00:00,2016-05-17 00:00:00+00:00,31,DO MOSCOSO,0,0,1.0,10.0,9.0,10.0,7.0,9.0,0,0,0,5,20
32381,9.980000e+13,5728398,0,2016-05-20 16:17:29+00:00,2016-05-24 00:00:00+00:00,55,CENTRO,1,0,1.0,10.0,9.0,10.0,10.0,10.0,0,3,4,5,20
32382,1.400000e+13,5751116,1,2016-05-31 09:42:04+00:00,2016-05-31 00:00:00+00:00,39,CENTRO,0,0,2.0,10.0,9.0,10.0,9.0,10.0,0,0,1,5,22
32383,8.330000e+14,5642946,0,2016-05-02 06:46:56+00:00,2016-05-05 00:00:00+00:00,73,PARQUE MOSCOSO,0,0,1.0,9.0,9.0,9.0,8.0,10.0,0,2,0,5,18
32384,3.965216e+10,5643040,0,2016-05-02 07:02:22+00:00,2016-05-12 00:00:00+00:00,61,CENTRO,1,0,1.0,10.0,9.0,10.0,10.0,10.0,0,9,0,5,18
32385,4.450000e+14,5643883,0,2016-05-02 08:00:04+00:00,2016-05-19 00:00:00+00:00,46,DO MOSCOSO,0,0,1.0,9.0,9.0,9.0,8.0,10.0,0,16,0,5,18
32386,6.760000e+14,5650981,0,2016-05-03 08:18:25+00:00,2016-05-05 00:00:00+00:00,63,DO MOSCOSO,0,0,1.0,3.0,3.0,4.0,2.0,7.0,0,1,1,5,18
32387,5.940000e+12,5678059,1,2016-05-10 08:00:55+00:00,2016-05-12 00:00:00+00:00,5,DO MOSCOSO,0,0,2.0,2.0,2.0,2.0,1.0,2.0,0,1,1,5,19
32388,6.620000e+12,5717106,0,2016-05-19 07:33:06+00:00,2016-05-19 00:00:00+00:00,53,CENTRO,0,0,1.0,3.0,3.0,4.0,2.0,5.0,0,0,3,5,20
32389,6.520000e+14,5713819,1,2016-05-18 10:46:04+00:00,2016-05-19 00:00:00+00:00,1,SANTA TEREZA,0,1,1.0,9.0,7.0,9.0,9.0,10.0,1,0,2,5,20
32390,6.170000e+13,5647423,0,2016-05-02 13:35:20+00:00,2016-05-05 00:00:00+00:00,79,CENTRO,0,1,1.0,9.0,10.0,10.0,8.0,10.0,1,2,0,5,18
32391,6.660000e+13,5647523,1,2016-05-02 13:48:13+00:00,2016-05-12 00:00:00+00:00,29,CENTRO,0,0,1.0,4.0,4.0,4.0,3.0,5.0,0,9,0,5,18
32392,6.640000e+11,5647547,0,2016-05-02 13:51:56+00:00,2016-05-19 00:00:00+00:00,28,PARQUE MOSCOSO,0,1,1.0,7.0,9.0,9.0,9.0,10.0,1,16,0,5,18
32393,3.740000e+13,5661968,1,2016-05-05 07:57:59+00:00,2016-05-05 00:00:00+00:00,2,CONSOLAÇÃO,0,0,1.0,10.0,9.0,10.0,9.0,10.0,0,0,3,5,18
32394,9.960000e+12,5688887,0,2016-05-12 07:45:40+00:00,2016-05-12 00:00:00+00:00,31,CENTRO,0,0,1.0,5.0,7.0,9.0,7.0,9.0,0,0,3,5,19
32395,6.650000e+12,5713273,0,2016-05-18 09:56:02+00:00,2016-05-19 00:00:00+00:00,59,PARQUE MOSCOSO,0,0,1.0,NaN,NaN,NaN,NaN,NaN,0,0,2,5,20
32396,4.140000e+13,5644851,1,2016-05-02 09:10:58+00:00,2016-05-05 00:00:00+00:00,54,PARQUE MOSCOSO,0,0,1.0,3.0,2.0,4.0,3.0,6.0,0,2,0,5,18

In [29]:
for colss_cat in df[col_cat]:
    df[colss_cat].fillna(df[colss_cat].mode()[0], inplace = True)

In [30]:
df[col_cat].isnull().sum()

Gender                                  0
PRIORITY_TYPE_CODE                      0
Index of Multiple Deprivation Decile    0
Income Decile                           0
Employment Decile                       0
Education and Skills Decile             0
Health and Disability Decile            0
City                                    0
dtype: int64

In [31]:
# Convert type into string
df[col_cat] = df[col_cat].astype('str')

In [32]:
df[col_cat].describe()

,Gender,PRIORITY_TYPE_CODE,Index of Multiple Deprivation Decile,Income Decile,Employment Decile,Education and Skills Decile,Health and Disability Decile,City
count,32397,32397,32397,32397,32397,32397,32397,32397
unique,2,3,10,10,10,10,10,2
top,0,1.0,10.0,10.0,10.0,10.0,10.0,0
freq,20735,23901,11001,9168,11283,7434,16539,25721

In [33]:
 df.drop("City", axis = 1, inplace = True)

In [34]:
pd.get_dummies(df[["PRIORITY_TYPE_CODE"]]).head()

   PRIORITY_TYPE_CODE_1.0  PRIORITY_TYPE_CODE_2.0  PRIORITY_TYPE_CODE_3.0
0                       1                       0                       0
1                       1                       0                       0
2                       1                       0                       0
3                       1                       0                       0
4                       1                       0                       0

In [35]:
col_cat = ["Gender", 
           "PRIORITY_TYPE_CODE", 
           "Index of Multiple Deprivation Decile", 
           "Income Decile", 
           "Employment Decile", 
           "Education and Skills Decile", 
           "Health and Disability Decile"]
df_cat = pd.get_dummies(df[col_cat])

In [36]:
df_cat.head()

,Gender_0,Gender_1,PRIORITY_TYPE_CODE_1.0,PRIORITY_TYPE_CODE_2.0,PRIORITY_TYPE_CODE_3.0,Index of Multiple Deprivation Decile_1.0,Index of Multiple Deprivation Decile_10.0,Index of Multiple Deprivation Decile_2.0,Index of Multiple Deprivation Decile_3.0,Index of Multiple Deprivation Decile_4.0,...,Health and Disability Decile_1.0,Health and Disability Decile_10.0,Health and Disability Decile_2.0,Health and Disability Decile_3.0,Health and Disability Decile_4.0,Health and Disability Decile_5.0,Health and Disability Decile_6.0,Health and Disability Decile_7.0,Health and Disability Decile_8.0,Health and Disability Decile_9.0
0,1,0,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,0,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,1,0,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [37]:
# Join the Data with 
col_data = df[col_names]
new_df = pd.concat([col_data,df_cat], axis = 1)

In [38]:
new_df.shape

(32397, 61)

In [39]:
cols_all_cat = list(df_cat.columns)
print("Total Number of Features:", len(col_names + cols_all_cat))

Total Number of Features: 61

In [40]:
x = new_df
y = df["Output_label"]

In [41]:
df.keys()

Index(['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'SMS_received',
       'Output_label', 'PRIORITY_TYPE_CODE',
       'Index of Multiple Deprivation Decile', 'Income Decile',
       'Employment Decile', 'Education and Skills Decile',
       'Health and Disability Decile', 'Num_days', 'day_of_week', 'month',
       'week'],
      dtype='object')

In [42]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

In [43]:
# Apply K-Nearest-Neighbours
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=100)
knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=100, p=2,
           weights='uniform')

In [44]:
# Apply Logistic Regression
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(random_state = 0)
lr.fit(x_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=0, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [45]:
# Decision Tree classifier
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(random_state = 0)
tree.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [46]:
# Apply Random forest classifier
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state = 0)
rf.fit(x_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [47]:
# Print Accuracy
from sklearn.metrics import accuracy_score, precision_score, recall_score
def print_Report(model_name, y_test, y_pred):
    print("Accuracy of", model_name, accuracy_score(y_test, y_pred))
    print("Recall of", model_name, recall_score(y_test, y_pred))
    print("Precision of", model_name, precision_score(y_test, y_pred))

In [48]:
# K-Nearest-Neighbours
y_pred = knn.predict(x_test)
# Print Prediction Acuuracy
print_Report("KNeighborsClassifier", y_test, y_pred)
cm = metrics.confusion_matrix(y_test, y_pred)
cm

Accuracy of KNeighborsClassifier 0.7918724279835391
Recall of KNeighborsClassifier 0.003952569169960474
Precision of KNeighborsClassifier 0.5333333333333333

array([[7689,    7],
       [2016,    8]], dtype=int64)

In [52]:
# Logistic regression
y_pred = lr.predict(x_test)
# Print Prediction Acuuracy
print_Report("Logistic Regression", y_test, y_pred)
cm = metrics.confusion_matrix(y_test, y_pred)
cm

Accuracy of Logistic Regression 0.7896090534979424
Recall of Logistic Regression 0.021739130434782608
Precision of Logistic Regression 0.4036697247706422

array([[7631,   65],
       [1980,   44]], dtype=int64)

In [53]:
# Decision tree
y_pred = tree.predict(x_test)
# Print Prediction Acuuracy
print_Report("Decision Trees", y_test, y_pred)
cm = metrics.confusion_matrix(y_test, y_pred)
cm

Accuracy of Decision Trees 0.7042181069958847
Recall of Decision Trees 0.31126482213438733
Precision of Decision Trees 0.2984367598294647

array([[6215, 1481],
       [1394,  630]], dtype=int64)

In [54]:
# Random Forest
y_pred = rf.predict(x_test)
# Print Prediction Acuuracy
print_Report("Random Forest", y_test, y_pred)
cm = metrics.confusion_matrix(y_test, y_pred)
cm

Accuracy of Random Forest 0.7720164609053498
Recall of Random Forest 0.11314229249011858
Precision of Random Forest 0.3523076923076923

array([[7275,  421],
       [1795,  229]], dtype=int64)

In [55]:
df_results = pd.DataFrame({"Classifier": ["K-NN", "LR", "DT", "RD"], 
                           "Accuracy": [accuracy_score(y_test, knn.predict(x_test)),
                                        accuracy_score(y_test, lr.predict(x_test)),
                                        accuracy_score(y_test, tree.predict(x_test)),
                                        accuracy_score(y_test, rf.predict(x_test))],
                          "Recall": [recall_score(y_test, knn.predict(x_test)),
                                     recall_score(y_test, lr.predict(x_test)),
                                     recall_score(y_test, tree.predict(x_test)),
                                     recall_score(y_test, rf.predict(x_test))],
                          "Precision": [precision_score(y_test, knn.predict(x_test)),
                                       precision_score(y_test, lr.predict(x_test)),
                                       precision_score(y_test, tree.predict(x_test)),
                                       precision_score(y_test, rf.predict(x_test))]})

In [56]:
df_results

  Classifier  Accuracy    Recall  Precision
0       K-NN  0.791872  0.003953   0.533333
1         LR  0.789609  0.021739   0.403670
2         DT  0.704218  0.311265   0.298437
3         RD  0.772016  0.113142   0.352308